<ion-header>
    <ion-toolbar color="danger">
        <ion-title>Registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>
            Correo
        </ion-label>
        <ion-input type="text" [(ngModel)]="user.email">
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-label>
            Contraseña
        </ion-label>
        <ion-input type="text" [(ngModel)]="user.password">
        </ion-input>
    </ion-item>

    <ion-item-divider>
        <ion-button size="default" color="danger" fill="outline" (click)="onRegister()">Registrarse</ion-button>
        <ion-button size="default" color="danger" fill="outline" href="/login">Iniciar Sesión</ion-button>
    </ion-item-divider>

</ion-content>